body {
	background: #eee;
}

.container {
	background: #fff;
}

.navbar-brand img {
	width: auto;
	max-height: 40px;
}

/**
 * Add your styles below
 */

.card-type-example {
	display: flex;
}
.card-img-top {
	width: 100%;
	height: 50%;
}
